*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.hide{
    display: none;
}
.table{
    width: 500px;
    height: 350px;
    background-color: green;
}

footer ul{
    /* display: flex; */
}
.activePlayer {
    text-decoration: underline;
}